.todo-container {
  display: flex;
  align-items: center;
  /* padding: 4px 0 4px 0; */
}

li {
  flex: 1;
  cursor: pointer;
  margin-bottom: 5px;
}

li.completed {
  text-decoration: line-through;
}

.delete-button {
  margin-left: 10px;
  width: 4em;
  padding: 2px 5px;
  font-weight: bold;
  background: linear-gradient(70deg, #78401a, #d53c00);
  /* background-color: red; */
  color: white;
  /* border: none; */
  border-radius: 10px;
  cursor: pointer;
}
.delete-button:hover {
  transform: scale(1.2);
  background: linear-gradient(70deg, #6a2b02, #e78711);
}
