/* @import '@fortawesome/fontawesome-free/css/all.css'; */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.global {
  /* position: fixed; */
  scale: 1.6;
  margin-top: 5em;
  width: 20em;
}
/* стилі для кнопок */
button {
  /* font-size: 18px; */
  padding: 5px 15px 5px 15px;
  margin: 0 4px;
  font-weight: bold;
  color: #200526;
  /* border: 1px solid rgb(1, 1, 23); */
  border: none;
  border-radius: 20px;
  background-color: rgb(158, 156, 156);
}
button:hover {
  scale: 1.1;
  background-color: rgb(209, 199, 199);
}
/* стилі для компонента AddTodo */
.addTodo {
  background-color: green;
  font-weight: bold;
  /* border-radius: 50%; */
  color: azure;
  /* font-size: 2em; */
  width: 48px;
}
.addTodo:hover {
  scale: 1.12;
  border: 1px solid rgb(200, 217, 200);
}
.inp {
  padding: 6px;
  border: none;

  border-radius: 15px;
}
.inp:hover {
  scale: 1.12;
  border: none;
  color: azure;
  padding: 8px;
  background-color: #8f8e8e;
}
